.DS_STORE
coverage
node_modules
**/npm-debug.log
.nyc_output
experiments
todo.md
npm-debug.log
.vscode

website/translated_docs
website/build/
website/yarn.lock
website/node_modules

website/i18n/*
!website/i18n/en.json